.container {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 100vh;
background-color: lightgray;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: azure;
  padding: 20px;
  border: darkblue 1px solid;
  border-radius: 2px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.formFields {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.tagH1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.tagLabel {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.tagP{
  margin-top: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
